<div class="footer">
    <footer class="footer">
        <center>
            <img class="socialmediaicons" id="icon1" src="/img/facebook.png">
            <img class="socialmediaicons" src="/img/instagram.png">
            <img class="socialmediaicons" src="/img/linkedin.png">
            <img class="socialmediaicons" src="/img/twitter.png">
        </center>
        <h2 class="copywrite"> &copy; 2022 </h2>
    </footer>
</div>

</body>

</html>