<%- include("partials/header") -%>

<div class="createcont1">
    <form>
        <label class="questionname" for="question1">Question 1: </label>
        <input type="text" class="createquestion" name="question1" placeholder="Enter the question"><br><br>

        <label class="optname" for="option1">Option 1: </label>
        <input type="text" class="createoption" name="option1" placeholder="Enter option"><br><br>
        <label class="optname" for="option2">Option 2: </label>
        <input type="text" class="createoption" name="option2" placeholder="Enter option"><br><br>
        <label class="optname" for="option3">Option 3: </label>
        <input type="text" class="createoption" name="option3" placeholder="Enter option"><br><br>
        <label class="optname" for="option4">Option 4: </label>
        <input type="text" class="createoption" name="option4" placeholder="Enter option"><br><br>

        <label class="correctans" for="questionsgiven">Correct Answer: </label>
        <input type="text" class="correctans1" name="option4" placeholder="Mention correct answer">

    </form>

    <button class="nextbtn1">Next</button>
    <button class="submitbtn1">Submit</button>
</div>


<%- include("partials/footer") -%>
