<%- include("partials/header") -%>

<div class="trackcont">
    <table class="listtab">
        <tr>
            <td class="subject">Advanced Data Structures</td>
            <td class="module">
                <div class="moduletext">Module 1</div><br>
                <button class="testbutton">Start Test</button>
            </td>
        </tr>
    </table>

</div>

<%- include("partials/footer") -%>