<%- include("partials/header") -%>


<div class="qbox">
    <div id="question-container" class="hide">
        <div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, unde corrupti? Non possimus
            ullam veritatis facere nihil saepe consequatur amet blanditiis, ipsam mollitia beatae obcaecati quidem
            distinctio? Totam, voluptatibus debitis!</div>
        <div class="ansbuttoncont">

            <div class="buttoncont1">

                <input type="radio" class="ansbox1 " name="answeropt"><label for="opt1" class="ansinput1">stacks</label>

                <input type="radio" name="answeropt" class="ansbox1"> <label class="ansinput1" for="opt1">list</label>

            </div>
            <div class="buttoncont2">
                <input type="radio" class="ansbox2" name="answeropt"> <label class="ansinput2" for="opt1">queues</label>

                <input type="radio" class="ansbox2" name="answeropt"> <label class="ansinput2" for="opt1">hash</label>
            </div>




        </div>
    </div>
</div>

<%- include("partials/footer") -%>